{% extends 'base.html.twig' %}

{% block body %}
{{ include('TestContentBundle:Default:validateTextEdit.html.twig') }}
<div class="container">
    <h1>
        {{ include('TestContentBundle:Default:textEditable.html.twig', { 'content': autretitre }) }}
    </h1>

    <p>
        {{ include('TestContentBundle:Default:textEditable.html.twig', { 'content': autredescription }) }}
    </p>
</div>



{% endblock body %}
