{% extends 'base.html.twig' %}

{% block body %}
{{ include('tgcEditContentBundle:Default:validateTextEdit.html.twig') }}
<div class="container">
    <h1>
        {{ include('tgcEditContentBundle:Default:textEditable.html.twig', { 'content': titre }) }}
    </h1>

    <p>
        {{ include('tgcEditContentBundle:Default:textEditable.html.twig', { 'content': description }) }}
    </p>
</div>



{% endblock body %}
